# Source files
src/
tests/

# Config files
.eslintrc
.prettierrc
tsconfig*.json
.github/
.vscode/
.idea/
.gitlab/
.travis.yml
.gitlab-ci.yml
.circleci/
.yarn/

# Development files
*.log
coverage/
.nyc_output/
node_modules/
*.tgz
.DS_Store